.cat{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
}

.cat h1{
   margin-bottom: 1rem;
   border-bottom: 2px solid #000;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 460px){
    .cat{
        padding: 10px;
    }

    .cat h1{
        font-size: 1.5rem;
    }
}