
.navbar{
    height: 100px;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;  
    border-bottom: 5px solid #f5f2ea ;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.nav-brand i{
  margin-left: 50px;
  font-size: 2.5rem;
}

.search{
    padding: 0.5rem;
}

.search input{
   width: 320px;
   height: 30px;
   border: none;
   outline: none;
   background: #f5f2ea;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   padding: 10px;
}

.search-btn{
    height: 30px;
    width: 30px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.wishlist, .cart{
    padding: 0.4rem;
    font-size: 0.7rem;
}
 .wishlist p, .cart p{
    font-weight: 700;
    text-decoration: none;
 }

 .wishlist a, .cart a{
   text-decoration: none;
 }

.wishlist i, .cart i{
    font-size: 1.2rem;
    padding: 0px 0px 10px 0px;
}

.nav-links{
    margin-left: 50px;
    margin-bottom: 5px;
}

.nav-links a{
    font-size: 0.8rem;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 600;
}

.cart{
     display: flex;
  flex-direction: row;
  flex-wrap: wrap;         
  gap: 20px;            
  justify-content: center; 
  align-items: flex-start;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .nav-brand i{
        display: none;
    }

     .search input{
        width: 50vw;
        margin-left: 10px;
    }

      .nav-icons{
        margin-right: 8px;
    }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px ;
    left: 10px;
    z-index: 1000;
  }

 .nav-links {
  position: fixed;
  top: 0;
  left: -100%;           
  width: 40%;
  height: 100vh;
  background-color: #f5f2ea;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  transition: left 0.3s ease; 
  z-index: 999;
}

  .nav-links.open {
    left: 0;
     transform: translateX(0);
  }

  .nav-links::-webkit-scrollbar {
  display: none;
}

  body.nav-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
  z-index: 500;
}

  .nav-links a {
    color: #000;
    font-size: 18px;
    /* margin: 10px 0; */
  }
   .nav-links{
        margin-left: 0px;
     }
}


@media (max-width: 460px) {

    .navbar{
        height: 80px;
        /* justify-content: space-between; */
        overflow-x: hidden;
    }

    .nav{
        justify-content: space-between;
    }
    .nav-brand i{
        display: none;
        font-size: 1.2rem;
        margin-left: 10px;
        padding-top: 10px;
    }

    .search input{
        width: 70%;
        margin-left: 40px;
    }

    .nav-icons{
        margin-right: 5px;
    }


    .wishlist i, .cart i{
        font-size: 0.8rem;
        padding: 0px 0px 4px 0px;
    }

     .wishlist p, .cart p{
        font-size: 0.6rem;
     }

     .nav-links{
        width: 60%;
     }
    
     .search{
        padding: 2px;
     }
    
     .wishlist, .cart{
        padding: 0.2rem;
     }
     .search-btn{
        width: 20px;
     }
     .search-btn i{
        font-size: 0.6rem;
     }
}