.productDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 30px 20px 30px;
    gap: 15px;
}

.img {
    height: 420px;
    width: 420px;
    background: #f5f2ea;
    border-radius: 10px;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center;
}

.img img{
    height: 90%;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 50px 0px 0px;
    gap: 10px;
}

.info p{
   font-size: 0.7rem;
   color: rgb(134, 120, 120);
}

.info h1{
    margin-top: 20px;
}

.fav-btn{
    font-size: 20px;
     border-radius: none;
    opacity: 1;
}

.addToCrt{
    height: 30px;
    width: 260px;
    background: #000;
    color: #f5f2ea;
    border: none;
    border-radius: 8px;
    /* word-spacing: 2px; */
    font-size: 0.8rem;
}

.addToCrt:hover{
 background-color: #383838;;
}

.btns{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.addToCrt i{
    color: #f5f2ea;
}

.fav-btn{
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 4px;
    border: none;
}

.fav-btn i{
    color: rgb(255, 253, 253);
}

.active i{
     color: rgb(251, 97, 122);
}

@media (max-width: 790px){
   .productDetails{
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

      .info{
        margin: 20px 10px 30px 0px;
    }

    
    .img {
        height: 320px;
        width: 320px;
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 460px){
    .productDetails{
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .img {
        height: 220px;
        width: 220px;
        margin-left: 0px;
        margin-top: 50px;
    }

    .info{
        margin: 20px 10px 0px 0px;
    }

    .info h1{
        margin-top: 10px;
        font-size: 1.5rem;
    }

    .info h2{
        font-size: 1.3rem;
    }

    .btns{
        margin-top: 20px;
    }

}