@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     color: #010101;
}

body{
    
  font-family: "Manrope", sans-serif;
    overflow-x: hidden ;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

main > *:nth-last-child(1) {
  margin-top: auto; 
}

